# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
.env/
.envrc

# FastAPI-specific
*.db
*.sqlite3

# Logs
*.log

# Test coverage
.coverage
coverage.xml
*.cover

# Environment configuration
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# VSCode settings
.vscode/

# MacOS specific
.DS_Store

# PyCharm settings
.idea/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
